/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 350px;
    height: 600px;
    background-color: #272727;
    color: #C89C3D;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(254, 237, 185, .3);
    padding: 2px 4px;
    border-radius: 2px;
}

.counter-label {
    font-size: 12px;
    margin-bottom: 5px;
}

.counter {
    font-size: 36px;
    font-weight: 700;
}

.button-container {
    margin-top: 15px;
}

.button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: bisque;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.1);
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}
.container {
    position: absolute;
    width: 194.36px;
    height: 180px;
    left: 88px;
    top: 152px;
}
.titles {
    position: absolute;
    width: 150px;
    height: 45px;
    left: 100px;
    top: 338px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    
    color: #C89C3D;
}
.graphics {
    margin-top: -200px;
}
.graphics-caption {
    position: absolute;
    width: 244px;
    height: 22px;
    left: 61px;
    top: 350px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    
    color: #C89C3D;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.context {
    position: absolute;
    width: 240px;
    height: 58px;
    left: 63px;
    top: 386px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slider-progress {
    position: relative;
    width: 100%;
    top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-button {
    position: relative;
    width: 101.18px;
    height: 40px;
    top: 100px;
    background: #C89C3D;
    border-radius: 20px 0px 0px 20px;
    float: right;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
.next-button a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    color: #272727;
}
.box1, .box2, .box3, .box4 {
    width: 10.56;
    height: 10.56;    
    background: #B8B4AB;
    border: 1px solid #B8B4AB;
    box-sizing: border-box;
    margin: 4px;
    padding: 4px;
}
.box1 {
    background: #C89C3D;
    border: 1px solid #272727;
    box-sizing: border-box;
}
#n2 {
    display: none;
}
#n3 {
    display: none;
}
#n4 {
    display: none;
}
#n2 .slider-progress {
    top: 169px;
    padding-right: 180px;
    padding-left: 110px;
    margin-left: 40px;
}
#n2 .next-button {
    top: 140px;
    float: right;
}
#n2 .graphics-caption {
    font-size: 18px;
}
#n3 .graphics-caption {
    font-size: 15px;
}
#n3 .slider-progress {
    top: 209px;
    padding-right: 180px;
    padding-left: 110px;
    margin-left: 30px;
}
#n3 .next-button {
    top: 180px;
}
#n4 .slider-progress {
    top: 209px;
    padding-right: 180px;
    padding-left: 110px;
    margin-left: 30px;
}
#n4 .next-button {
    top: 180px;
}
.wallet-balance {
    position: absolute;
    width: 100%;
    height: 191px;
    top: 0px;
    
    background: #A88539;
    border-radius: 0px;
}
.wallet-navigation {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.wallet-icon {
    margin-left: 90px;
    margin-right: 95px;
}
.wallet-amount {
    position: absolute;
    width: 177px;
    height: 45px;
    left: 86px;
    top: 95px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    
    color: #272727;
}
.wallet-name {
    position: absolute;
    width: 108px;
    height: 17.07px;
    left: 121px;
    top: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    
    color: #272727;
}
.wallet-amount-change {
    position: absolute;
    width: 81px;
    height: 12px;
    left: 129px;
    top: 157px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    
    color: #0B5420;
}
.wallet-nav {
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: -130px;
    background: #272727;
    border-radius: 0px;
}
.wallet-nav-title {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 31px;
    top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    
    color: rgba(255, 255, 255, 0.8);
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wallet-nav-buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: auto auto auto auto;
    grid-column: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 10px;
}
.wallet-nav-btn {
    width: 68px;
    height: 40px;
    top: 35px;
    padding-top: 10px;
    background: rgba(200, 156, 61, 0.8);
    border-radius: 20px;
    margin-left: 0px;
}
.wallet-nav-label {
    margin-top: 10px;
}
.wallet-divider {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 316px;
    background: rgba(200, 156, 61, 0.5);
    border-radius: 20px;
}
.wallet-tokens {
    position: absolute;
    top: 320px;
    width: 100%;
    height: 100%;
}
.wallet-token-label {
    position: absolute;
    width: 54px;
    height: 19px;
    left: 31px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    
    color: rgba(255, 255, 255, 0.8);
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wallet-tokens-frame {
    width: 320px;
    height: 71px;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: auto auto auto;
    grid-column: auto auto auto;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    padding-top: 10px;
}
.wallet-token-n {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}
.wallet-token-name {
    text-align: left;
}
.wallet-token-s {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #FFFFFF;
}
#extra {
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 9px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #1A7835;
}
.wallet-token-c {
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 9px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #1A7835;
}
.wallet-token-value {
    text-align: right;
    margin-right: 15px;
}
.wallet-token-a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 9px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #1A7835;
}
.wallet-token-v {
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 12px;
    text-transform: capitalize;
    margin-top: 2px;
    color: #B8B4AB;
}
.wallet-nav-footer {
    position: fixed;
    width:100%;
    height: 67px;
    bottom: 0%;
    overflow: hidden;
    z-index: 1;
    background: #A88539;
    border-radius: 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: auto auto auto auto;
    grid-column: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
}
.wallet-wallet {
    position: absolute;
    left: 14.36%;
    right: 79.42%;
    top: 31.34%;
    bottom: 34.33%;
}
.wallet-dex {
    position: absolute;
    left: 37.69%;
    right: 57.16%;
    top: 31.34%;
    bottom: 38.81%;
}
.wallet-settings {
    position: absolute;
    left: 60%;
    right: 34.87%;
    top: 31.34%;
    bottom: 38.81%;
}
.wallet-profile {
    position: absolute;
    left: 82.31%;
    right: 12.56%;
    top: 31.34%;
    bottom: 38.81%;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}
.swap-header {
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0%;
    background: #A88539;
    border-radius: 0px;
    display: flex;
    padding-top: 30px;
}
.header-back {
    position: absolute;
    left: 8.21%;
    right: 87.69%;
    top: 22.27%;
    bottom: 25%;
}
.header-title {
    position: absolute;
    left: 37.95%;
    right: 37.69%;
    top: 22.14%;
    bottom: 23.86%;
    mix-blend-mode: normal;
    color: #272727;
    font-weight: 800;
}
.header-qrcode {
    position: absolute;
    left: 86.67%;
    right: 8.21%;
    top: 22.27%;
    bottom: 25%;
}
#wallle-dex {
    position: absolute;
    left: 36.69%;
    right: 56.39%;
    top: 28.36%;
    bottom: 37.31%;
}
.exchange-frame {
    position: absolute;
    width: 300px;
    height: 289px;
    left: 30px;
    top: 119px;
    
    background: #272727;
    border: 2px solid #C89C3D;
    box-sizing: border-box;
    border-radius: 20px;
}
.exchange-first {
    position: absolute;
    display: flex;
    top: 20px;
}
.exchange-first-input {
    position: absolute;
    height: 53px;
    left: 5px;
    top: 17px;
}
.exchange-first-input  input {
    width: 130px;
    background: transparent;
    border: none;
    border-bottom: 4px solid rgba(200, 156, 61, 0.8);
}
.exchange-first-input input[type="number"] {
    position: absolute;
    height: 22px;
    left: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #B8B4AB;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}
.exchange-first-input .label {
    position: absolute;
    left: 7px;
    right: 63.33%;
    top: 30px;
    width: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-transform: capitalize;
    color: #FFFFFF;
    
}
.exchange-first-input .label b {
    color: #B8B4AB;
}
.exchange-first-token {
    position: absolute;
    width: 135px;
    height: 53px;
    left: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    padding-top: 10px;
}
.exchange-icon {
    position: absolute;
    left: 9.76%;
    right: 70.25%;
    top: 22.64%;
    bottom: 24.94%;
}
.exchange-label {
    position: absolute;
    left: 37.34%;
    right: 25.32%;
    top: 18.87%;
    bottom: 50.94%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}
.exchange-label-n {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    left: 37.34%;
    text-transform: capitalize;
    
    color: #FFFFFF;
}
.exchange-select {
    position: absolute;
    left: 82.28%;
    right: 8.86%;
    top: 41.51%;
    bottom: 39.62%;
}
.exchange-swap {
    position: absolute;
    width: 20.76px;
    height: 20px;
    left: 234.38px;
    top: 110.38px;
}
.exchange-second {
    position: absolute;
    display: flex;
    top: 180px;
}
.exchange-second-input {
    position: absolute;
    height: 53px;
    left: 15px;
}
.exchange-second-input input {
    width: 120px;
    background: transparent;
    border: none;
    border-bottom: 4px solid rgba(200, 156, 61, 0.8);
}
.exchange-second-input input[type="number"] {
    position: absolute;
    height: 22px;
    left: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #B8B4AB;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}
.exchange-second-input .label {
    position: absolute;
    left: 5px;
    right: 63.33%;
    top: 28px;
    width: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-transform: capitalize;
    color: #FFFFFF;
}
.exchange-second-input .label b {
    color: #B8B4AB;
}
.exchange-second-token {
    position: absolute;
    width: 138px;
    height: 53px;
    left: 148px;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.exchange-second-token {
    display: flex;
}
.exchange-second-icon {
    position: absolute;
    left: 13.29%;
    right: 67.09%;
    top: 22.64%;
    bottom: 20.75%;    
}
.exchange-second-label {
    position: absolute;
    left: 40.31%;
    right: 25.32%;
    top: 18.87%;
    bottom: 50.94%;    
}
.exchange-second-select {
    position: absolute;
    left: 82.28%;
    right: 8.86%;
    top: 41.51%;
    bottom: 39.62%;
}
.exchange-rate {
    position: absolute;
    left: 30.64%;
    right: 30.33%;
    top: 89.67%;
    bottom: 6.38%;
    width: 159px;
    color: #FFFFFF;
}
.exchange-swap-btn {
    position: absolute;
    width: 211px;
    height: 40px;
    top: 440px;
    left: 75px;
    background: #C89C3D;
    border-radius: 20px;
    display: flex;
}
.exchange-swap-btn-text {
    position: absolute;
    width: 44px;
    height: 18px;
    left: 15px;
    top: 17.5%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    
    color: #272727;
}
.exchange-swap-btn-icon {
    position: absolute;
    left: 80.33%;
    right: 8.33%;
    top: 17.5%;
    bottom: 12.5%;
}
#settings {
    position: absolute;
    left: 60%;
    right: 34.1%;
    top: 26.34%;
    bottom: 34.33%;
}
.setting-body {
    position: absolute;
    top: 80px;
    width: 100%;
}
.setting-wallet {
    position: absolute;
    display: flex;
    left: 45px;
}
.setting-wallet-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.setting-wallet-text {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 50px;
    top: 9px;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
}
.setting-wallet-expand {
    position: absolute;
    left: 258.72px;
    right: 8.91%;
    top: 11px;
    bottom: 82.7%;
}
.setting-security {
    position: absolute;
    display: flex;
    top: 53px;
    left: 42px;
}
.setting-prefrences {
    position: absolute;
    display: flex;
    top: 108px;
    left: 42px;
}
.setting-support {
    position: absolute;
    display: flex;
    top: 160px;
    left: 42px;
}
.setting-others {
    position: absolute;
    left: 47px;
    right: 64.36%;
    top: 240px;
    bottom: 50.95%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    
    color: #C89C3D;
    
    mix-blend-mode: normal;
}
.setting-telegram {
    position: absolute;
    display: flex;
    top: 280px;
    left: 42px;
}
.setting-social-text {
    position: absolute;
    width: 72px;
    height: 19px;
    left: 60px;
    top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    
    color: rgba(255, 255, 255, 0.8);
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.setting-instagram {
    position: absolute;
    display: flex;
    top: 340px;
    left: 42px;
}
.setting-twitter {
    position: absolute;
    display: flex;
    top: 400px;
    left: 42px;
}